{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Delete</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'task/delete.css' %}">
    </head>
    <body>
        <div class="center-column">
            <p class="question">Are you sure you want to remove "{{item}}"?</p>
            <a href="{% url 'list' %}">Cancel</a>

            <form method="POST" action="">
                {% csrf_token %}
                <input type="submit" name="Confirm">
            </form>
        </div>
    </body>

