{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'task/list.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <span class="hello-msg">Hello, {{request.user}}</span>
            <span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>
        </nav>
        <h1>Todo List</h1>

        <div class="center-column">
            <form method="POST" action="/">
                {% csrf_token %}
                {{form.title}}
                <input class="btn btn-info" type="submit" name="Create Task">
            </form>

            <div class="todo-list">
                {% for task in tasks %}
                    <div class="item-row">
                        {% if task.complete == True %}
                            <strike>{{task}}</strike>
                        {% else %}
                            <span>{{task}}</span>
                        {% endif %}
                        <span class="edit">
                            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
                        </span>

                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>




